@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "./assets/styles/header.css";
@import "./assets/styles/hero.css";
@import "./assets/styles/services.css";
@import "./assets/styles/about.css";
@import "./assets/styles//work.css";
@import "./assets/styles/footer.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* custom styles */

  --color-international-orange-engineering: var(
    --international-orange-engineering
  );
  --color-cadet-blue-creyola: var(--cadet-blue-creyola);
  --color-oxford-blue-1: var(--oxford-blue-1);
  --color-oxford-blue-2: var(--oxford-blue-2);
  --color-oxford-blue-3: var(--oxford-blue-3);
  --color-sonic-silver: var(--sonic-silver);
  --color-space-cadet: var(--space-cadet);
  --color-pastel-pink: var(--pastel-pink);
  --color-eerie-black: var(--eerie-black);
  --color-light-gray: var(--light-gray);
  --color-main-white: var(--main-white);

  --font-chakra: var(--ff-chakra-petch);
  --font-mulish: var(--ff-mulish);

  --font-weight-fw-400: var(--fw-400);
  --font-weight-fw-600: var(--fw-600);
  --font-weight-fw-700: var(--fw-700);

  --spacing-section-padding: var(--section-padding);

  /* box shadow */
  --shadow-main-shadow: var(--main-shadow);

  /* border radius */
  --radius-pill: var(--pill);

  /* transition */
  /* --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97); */

  /* shadcn styles */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  /* custom variables */
  /* colors */
  --international-orange-engineering: #b40b08;
  --cadet-blue-creyola: #a5acbb;
  --oxford-blue-1: #141f38;
  --oxford-blue-2: #141d33;
  --oxford-blue-3: #0e162a;
  --sonic-silver: #707070;
  --space-cadet: #1a2642;
  --pastel-pink: #e19f9d;
  --eerie-black: #262626;
  --light-gray: #cccccc;
  --main-white: #ffffff;

  /* typography */
  --ff-chakra-petch: "Chakra Petch", sans-serif;
  --ff-mulish: "Mulish", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /* spacing */

  --section-padding: 60px;

  /* box shadow */
  --main-shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);

  /* border radius */
  --pill: 100px;

  /* transition */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

  /*--------- shadcn variables ------ */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(58.302% 0.23867 28.465);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  /* custom variables */

  /* shadcn variables */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */

  *,
  *::after,
  *::before {
    @apply m-0 p-0;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-base font-mulish font-fw-400;
  }

  li {
    @apply list-none;
  }

  a,
  img,
  span,
  button {
    @apply block;
  }

  a {
    @apply no-underline text-inherit;
  }

  img {
    @apply h-auto;
  }

  button {
    @apply bg-transparent border-0 cursor-pointer;
  }

  :focus-visible {
    @apply outline-offset-4;
  }

  ::-webkit-scrollbar {
    @apply w-2.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-[#fafafa];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#cccccc];
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-[#b3b3b3];
  }
}

@layer components {
  section {
    @apply px-6 min-[1290px]:px-0;
  }
  .sectionContainer {
    @apply max-w-[1280px] mx-auto py-[75px];
  }

  .sectionTitle {
    @apply text-sm sm:text-base md:text-lg font-semibold uppercase text-international-orange-engineering font-chakra  relative w-max mx-auto;
  }

  .sectionTitle::before {
    background-image: url("./assets/images/text-bars-dark.png");

    @apply content-[''] absolute -left-5.5 top-0.5 w-5 h-5 bg-no-repeat bg-contain sm:top-1 md:top-1.5;
  }

  .sectionSubTitle {
    @apply text-center uppercase mt-4 text-eerie-black font-bold font-chakra text-2xl sm:text-3xl md:text-4xl lg:text-[46px] leading-9 sm:leading-10 md:leading-12 lg:leading-14;
  }

  .btn-primary {
    @apply w-max text-main-white bg-international-orange-engineering px-8 py-4 text-sm font-fw-600 rounded-pill justify-center items-center flex gap-2 transition-all duration-150;
  }
}
